use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :blog, Blog.Endpoint,
  secret_key_base: "X4A6TKpykqrHIza/mnU9Idu7+STFVLvw0p4U/6lea+wm7KX8UyveXuUWB0hVpAK/"

# Configure your database
config :blog, Blog.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "blog_prod",
  pool_size: 15
